.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1em !important;
}

@media (max-width: 400px) {
    .footer-content {
        flex-direction: column;
        height: 100% !important;
    }
}